[submodule "lit-webcomponent-experiment"]
	path = lit-wc
	url = git@github.com:HRKings/lit-webcomponent-experiment.git

[submodule "svelte-webcomponent-experiment"]
	path = svelte-wc
	url = git@github.com:HRKings/svelte-webcomponent-experiment.git
